/*Nessa aula vamos entender as bases de como aplicar cores no CSS.

HTML

<div>
    <h1>Um texto aqui</h1>
    <p>Mais texto</p>
</div>
CSS

div {
    color: blue;
}

h1 {
    color: red;
} */


/*Hexadecimal
Descrição
Nessa aula vamos aprender a trabalhar com valores hexadecimal*/

/*<hex-color> values 0-9 e A-F*/
color: #090; /* RED, GREEN, BLUE */
color: #009900;
color: #090a;
color:#009900aa; 

RGB → Red, Green e Blue
O alpha representa a transparência da cor
/*<rgb()> values */
color: rgb(34, 12, 64, 0.6) /* 0-255 */
color: rgba(34, 12, 64, 0.6)

HSL → Hue - Saturation - Lightness

color: hsl(180, 100%, 50%, 60%)
color: hsla(180, 100%, 50%, 60%)


/* Global values */
color: inheritr; /* Herda a cor do elemento anterior */
color: initial; /* Volta a sua cor inicial */
color: unset; /* Pega a cor do contexto */

Background
Define um fundo para nosso elemento
Sua área de atuação é a caixa toda
Por padrão, é transparente
Exemplos
Usar cores solidas
Usar imagens
Controlar
a posição das imagens
se elas se repetem ou não
o tamanho delas na caixa
Usar cor e imagem juntas
Usar cor gradiente


A propriedade background-color define a cor de fundo do elemento selecionado.

HTML

<header>

</header>
<main>
    <h1>Evolua rápido com a tecnologia</h1>
    <p>Junte-se a milhares de devs e acelere
    na direção dos seus objetivos</p>
</main>
CSS

* {
    margin: 0;
}

header {
    height: 100px;
    border: 7px dashed red;
    background-color: rgb(55, 100, 50);
}


Gradient
Descrição
linear-gradient() é a função usada para criar gradient linear com o CSS.
background: linear-gradient(45deg, red, yellow)
radial-gradient() é a função usada para criar gradient circular.
background: radial-gradient(green, red, yellow)
background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 0, 0, 0.2))